.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
*.iml
.metadata
android/.gradle/
android/local.properties
android/key.properties
android/*.jks
android/KEYSTORE_SECRET.txt
*.jks
.DS_Store
